#.zshrc
{{- if .email | contains "amazon.com" }}
# Amazon Q pre block. Keep at the top of this file.
[[ -f "${HOME}/Library/Application Support/amazon-q/shell/zshrc.pre.zsh" ]] && builtin source "${HOME}/Library/Application Support/amazon-q/shell/zshrc.pre.zsh"
[[ -f "${HOME}/.local/share/amazon-q/shell/zshrc.pre.zsh" ]] && builtin source "${HOME}/.local/share/amazon-q/shell/zshrc.pre.zsh"
{{- end }}

# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=10000
SAVEHIST=100000
setopt autocd beep nomatch notify
unsetopt extendedglob
bindkey -e
# End of lines configured by zsh-newuser-install

# The following lines were added by compinstall
zstyle :compinstall filename '/home/{{.chezmoi.username}}/.zshrc'
autoload -Uz compinit
compinit
# End of lines added by compinstall

{{ if eq .chezmoi.os "linux" -}}
# Linux Specific Configuration
BREW_HOME="/home/linuxbrew/.linuxbrew"
{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL-specific configuration
alias ssh='ssh.exe'
alias ssh-add='ssh-add.exe'
{{- end }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
# MacOS Specific Configuration
BREW_HOME="/opt/homebrew"
{{- end }}

# Init brew
eval "$($BREW_HOME/bin/brew shellenv)"

# Init Starship for prompt customization
eval "$(starship init zsh)"

# Init Frum (ruby version manager)
eval "$(frum init)"

# Setup NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$BREW_HOME/opt/nvm/nvm.sh" ] && . "$BREW_HOME/opt/nvm/nvm.sh"  # This loads nvm
[ -s "$BREW_HOME/opt/nvm/etc/bash_completion.d/nvm" ] && . "$BREW_HOME/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

# Work Aliases
{{- if .email | contains "amazon.com" }}
export PATH=$PATH:{{.chezmoi.homeDir}}/.toolbox/bin
alias bb=brazil-build
alias b=brazil
alias bbr=brazil-recursive-cmd brazil-build
alias register_with_aaa="/apollo/env/AAAWorkspaceSupport/bin/register_with_aaa.py"
export AWS_EC2_METADATA_DISABLED=false

# Amazon Q post block. Keep at the bottom of this file.
[[ -f "${HOME}/Library/Application Support/amazon-q/shell/zshrc.post.zsh" ]] && builtin source "${HOME}/Library/Application Support/amazon-q/shell/zshrc.post.zsh"
[[ -f "${HOME}/.local/share/amazon-q/shell/zshrc.post.zsh" ]] && builtin source "${HOME}/.local/share/amazon-q/shell/zshrc.post.zsh"
{{- end}}
