#.bashrc

{{- if eq .chezmoi.os "linux" }}
# Linux Specific Configuration
BREW_HOME="/home/linuxbrew/.linuxbrew"

{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
# WSL-specific configuration
eval "$($BREW_HOME/bin/brew shellenv)"
alias ssh='ssh.exe'
alias ssh-add='ssh-add.exe'
{{-   end }}
{{ end -}}

{{- if eq .chezmoi.os "Darwin" }}
# MacOS Specific Configuration
BREW_HOME="/opt/homebrew/bin/"
eval "$($BREW_HOME/brew shellenv)"
source "~/.brazil_completion/bash_completion"
{{- end }}

# Enable NVM
export NVM_DIR="$HOME/.nvm"
[ -s "$BREW_HOME/opt/nvm/nvm.sh" ] && \. "$BREW_HOME/opt/nvm/nvm.sh"  # This loads nvm
[ -s "$BREW_HOME/opt/nvm/etc/bash_completion.d/nvm" ] && \. "$BREW_HOME/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

# Setup Frum (ruby version manager)
eval "$(frum init)"

# Enable starship for prompt customization
eval "$(starship init bash)"

# Env
export EDITOR=nvim
export GPG_TTY=$(tty)
export XDG_CONFIG_HOME=$HOME/.config/

{{ if .email | contains "amazon.com" -}}
# Amazon specific configuration
export PATH=$PATH:/Users/schultjo/.toolbox/bin

alias bb='brazil-build'
{{- end }}
