{{- /* If we're on Mac or WSL then install packages using brew */ -}}
{{- if or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft")) -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "jesseduffield/lazygit"
brew "chezmoi"
brew "gcc"
brew "git"
brew "golangci-lint"
brew "neovim"
brew "nvm"
brew "python@3.12"
brew "pre-commit"
brew "sqlc"
brew "starship"
brew "zsh"
brew "jesseduffield/lazygit/lazygit"
EOF
{{ end -}}
