{{- /* If we're on Mac or WSL then install packages using brew */ -}}
{{- if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "jesseduffield/lazygit"
brew "aws-sam-cli"
brew "chezmoi"
brew "fd"
brew "ffmpeg"
brew "frum"
brew "gcc"
brew "git"
brew "golangci-lint"
brew "graphviz"
brew "jesseduffield/lazygit/lazygit"
brew "mise"
brew "neovim"
brew "nvm"
brew "openssl@3"
brew "pre-commit"
brew "python@3.12"
brew "readline"
brew "ripgrep"
brew "sqlc"
brew "starship"
brew "tcl-tk"
brew "unison"
brew "xz"
brew "zlib"
brew "zsh"
{{ if eq .chezmoi.os "darwin" -}}
cask "1password"
cask "1password-cli"
cask "alfred"
cask "google-drive"
cask "obsidian"
cask "warp"
{{ end -}}
EOF
{{ end -}}
